
#GameField {
    position: relative;
    height: 66vh;
    border: 2vh solid #302822;
}

#GameFieldHolder {
    width: fit-content;
    height: fit-content;

    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.Object {
    position: absolute;
    border: 0.4vh solid black;
}

.Block {
    height: 3vh;
    width: 3vh;
}

.LBB {
    margin-bottom: 17.1vh;
    bottom: 0;
}

.LBT {
    margin-top: 17.1vh;
    top: 0;
}

.LBL {
    margin-left: 24.8vh;
    left: 0;
}

.LBR {
    margin-right: 24.8vh;
    right: 0
}

.RBB {
    margin-bottom: 22.2vh;
    bottom: 0;
}

.RBT {
    margin-top: 22.2vh;
    top:0
}

.RBL {
    margin-left: 26.8vh;
    left: 0;
}

.RBR {
    margin-right: 26.8vh;
    right: 0;
}

.LaundryBasket {
    width: 4.2vh;
    height: 4.2vh;
    bottom: 0;
    margin-bottom: 5.2vh;
    border: 0.4vh solid black;
}

.LBkC {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.LBkL {
    margin-left: 61.63vh;
    left: 0;
}

.LBkR {
    margin-right: 61.63vh;
    right: 0;
}

.PHor {
    width: 4.5vh;
    height: 3vh;
}

.PVer {
    width: 3vh;
    height: 4.5vh;
}

.PNW {
    margin-top: 16.5vh;
    margin-left: 52.85vh;
    top: 0;
    left: 0;
}

.PY {
    margin-top: 8vh;
    margin-left: 35.3vh;
    top: 0;
    left: 0;
}

.PNE {
    margin-top: 27vh;
    margin-right: 53.35vh;
    top: 0;
    right: 0;
}

.PG {
    margin-top: 7.2vh;
    margin-right: 35.3vh;
    top: 0;
    right: 0;
}

.PSW {
    margin-bottom: 19vh;
    margin-left: 56vh;
    bottom: 0;
    left: 0;
}

.PB {
    margin-bottom: 14.5vh;
    margin-left: 36vh;
    bottom: 0;
    left: 0;
}

.PSE {
    margin-bottom: 18.5vh;
    margin-right: 50.5vh;
    bottom: 0;
    right: 0;
}

.PR {
    margin-bottom: 4.5vh;
    margin-right: 36.5vh;
    bottom: 0;
    right: 0;
}